@model Billionaire.Models.PlayerModel;



    <form asp-action="Home">
        <div class="text-center">
            <br />
            Result:
            @ViewData["Score"]<br>


            <input type="submit" value="Try again" />

        </div>
    </form>
